@font-face {
  font-family: Syne;
  font-display: swap;
  src: url("/src/assets/fonts/Outfit-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Syne;
  font-display: swap;
  src: url("/src/assets/fonts/Outfit-SemiBold.ttf") format("TrueType");
  font-weight: 600;
  font-style: normal;
}