@font-face {
  font-family: Outfit;
  font-display: swap;
  src: url("/src/assets/fonts/GolosText-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Outfit;
  font-display: swap;
  src: url("/src/assets/fonts/ClashGrotesk-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}