html {
  font-size: 1vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: $white;
  height: 100%;
  
  padding-left: mobile(12);
  padding-right: mobile(12);
  
  @include font-setting;
  @include text-regular;
  @include r-18-mb;
  font-family: GolosText, "san-serif", "serif";
  color: $black;
  /*font-variant-numeric: lining-nums proportional-nums;*/
  
  @media screen and (min-width: $tablet_media) {
	@include r-20-tb;
	padding-left: tablet(12);
	padding-right: tablet(12);
  }
  @media screen and (min-width: $desktop_media) {
	@include r-20-dp;
	padding-left: desktop(12);
	padding-right: desktop(12);
  }
}

p {
  color: rgba($black, 0.9);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 1px solid transparent;
  background: rgba($black, 0.8);
}

// Helpers
.clearfix {
  overflow: auto;
  
  &::after {
	content: "";
	clear: both;
	display: table;
  }
}

.over-hidden {
  overflow: hidden;
}

.overlay {
  z-index: -999;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transition: 300ms background ease;
  background: transparent;
  
  &.is-active {
	background: #00000099;
	z-index: 10;
	visibility: visible;
  }
}
