h1, h2, h3 {
  @include text-semi-bold;
}

h1 {
  @include seo-heading-1-mb;
}

h2 {
  @include seo-heading-2-mb;
}

h3 {
  @include seo-heading-3-mb;
}

@media screen and (min-width: $tablet_media) {
  h1 {
	@include seo-heading-1-tb;
  }
  h2 {
	@include seo-heading-2-tb;
  }
  h3 {
	@include seo-heading-3-tb;
  }
}

@media screen and (min-width: $desktop_media) {
  h1 {
	@include seo-heading-1-dp;
  }
  h2 {
	@include seo-heading-2-dp;
  }
  h3 {
	@include seo-heading-3-dp;
  }
}