.btn {
  padding: mobile(12) mobile(24);
  border-radius: mobile(16);
  transition: all 300ms;
  
  @include b-18-mb;
}

@media screen and (min-width: $tablet_media) {
  .btn {
	padding: tablet(24);
	border-radius: tablet(16);
	
	@include b-18-tb;
  }
}

@media screen and (min-width: $desktop_media) {
  .btn {
	padding: desktop(24);
	border-radius: desktop(16);
	
	@include b-18-dp;
  }
}

.btn-link {
  display: flex;
  align-items: center;
  gap: mobile(10);
  
  @include r-20-mb;
  color: $blue;
  
  transition: all 300ms;
  
  &::after {
	content: "";
	display: block;
	width: mobile(24);
	height: mobile(24);
	
	background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4301 18.82C14.2401 18.82 14.0501 18.75 13.9001 18.6C13.6101 18.31 13.6101 17.83 13.9001 17.54L19.4401 12L13.9001 6.46C13.6101 6.17 13.6101 5.69 13.9001 5.4C14.1901 5.11 14.6701 5.11 14.9601 5.4L21.0301 11.47C21.3201 11.76 21.3201 12.24 21.0301 12.53L14.9601 18.6C14.8101 18.75 14.6201 18.82 14.4301 18.82Z' fill='%231752FE'/%3E%3Cpath d='M20.33 12.75H3.5C3.09 12.75 2.75 12.41 2.75 12C2.75 11.59 3.09 11.25 3.5 11.25H20.33C20.74 11.25 21.08 11.59 21.08 12C21.08 12.41 20.74 12.75 20.33 12.75Z' fill='%231752FE'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: contain;
  }
  
  &:hover {
	color: #293CE1;
  }
}

@media screen and (min-width: $tablet_media) {
  .btn-link {
	gap: tablet(10);
 
	@include r-20-tb;
 
	&::after {
	  width: tablet(24);
	  height: tablet(24);
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .btn-link {
	gap: desktop(10);
 
	@include r-20-dp;
 
	&::after {
	  width: desktop(24);
	  height: desktop(24);
	}
  }
}

.btn_bg_blue {
  background-color: $blue;
  color: $white;
  
  &:hover {
	background-color: #293CE1;
  }
}

.btn_bg_gray {
  background-color: $gray;
  
  &:hover {
	color: $blue;
  }
}

.btn_bg_white {
  background-color: $white;
  
  &:hover {
	color: $blue;
  }
}