.btn {
  padding: mobile(12) mobile(24);
  border-radius: mobile(16);
  transition: all 300ms;
  
  @include b-18-mb;
}

@media screen and (min-width: $tablet_media) {
  .btn {
	padding: tablet(24);
	border-radius: tablet(16);
	
	@include b-18-tb;
  }
}

@media screen and (min-width: $desktop_media) {
  .btn {
	padding: desktop(24);
	border-radius: desktop(16);
	
	@include b-18-dp;
  }
}

.btn_bg_blue {
  background-color: $blue;
  color: $white;
  
  &:hover {
	background-color: #293CE1;
  }
}

.btn_bg_gray {
  background-color: $gray;
  
  &:hover {
	color: $blue;
  }
}

.btn_bg_white {
  background-color: $white;
  
  &:hover {
	color: $blue;
  }
}