.hero-screen {
  position: relative;
  
  &:before, &:after {
	content: "";
	position: absolute;
	display: block;
	filter: blur(mobile(100));
  }
  
  &:before {
	top: mobile(139.68);
	left: mobile(51.01);
	width: mobile(160);
	height: mobile(160);
	background-color: #00C2FF26;
  }
  &:after {
	top: mobile(208.43);
	left: mobile(122.69);
	width: mobile(330);
	height: mobile(330);
	background-color: #0500FF1A;
  }
}

@media screen and (min-width: $tablet_media) {
  .hero-screen {
	&:before, &:after {
	  filter: blur(tablet(100));
	}
	
	&:before {
	  top: tablet(-118);
	  left: tablet(816);
	  width: tablet(438);
	  height: tablet(438);
	}
	&:after {
	  top: tablet(45);
	  left: tablet(1060);
	  width: tablet(903);
	  height: tablet(903);
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .hero-screen {
	&:before, &:after {
	  filter: blur(desktop(100));
	}
	
	&:before {
	  top: desktop(-118);
	  left: desktop(816);
	  width: desktop(438);
	  height: desktop(438);
	}
	&:after {
	  top: desktop(45);
	  left: desktop(1060);
	  width: desktop(903);
	  height: desktop(903);
	}
  }
}

@media screen and (min-width: $tablet_media) {

}

@media screen and (min-width: $desktop_media) {

}

.hero {
  margin-bottom: mobile(100);
  
  &__container {
	position: relative;
	
	display: flex;
	flex-direction: column;
	gap: mobile(36);
  }
  
  &__main {
  }
  
  &__side {
	order: -1;
  }
  
  h1 {
	margin-bottom: mobile(12);
  }
  
  &__cta {
	display: flex;
	gap: mobile(16);
	margin-top: mobile(36);
  }
}

@media screen and (min-width: $tablet_media) {
  .hero {
	margin-top: tablet(146);
	margin-bottom: tablet(204);
	
	&__container {
	  flex-direction: row;
	  gap: tablet(36);
	}
	
	&__main {
	  max-width: tablet(825);
	  
	  p {
		max-width: tablet(439);
	  }
	}
	
	&__side {
	  order: unset;
	  
	  img {
		position: absolute;
		z-index: -1;
		top: tablet(-150);
		right: tablet(-45);
		
		width: tablet(815);
	  }
	}
	
	h1 {
	  margin-bottom: tablet(24);
	}
	
	&__cta {
	  margin-top: tablet(56);
	  gap: tablet(16);
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .hero {
	margin-top: desktop(146);
	margin-bottom: desktop(204);
	
	&__container {
	  gap: desktop(36);
	}
	
	h1 {
	  margin-bottom: desktop(24);
	}
	
	&__main {
	  max-width: desktop(825);
	  
	  p {
		max-width: desktop(439);
	  }
	}
	
	&__side {
	  img {
		top: desktop(-150);
		right: desktop(-45);
		
		width: desktop(815);
	  }
	}
	
	&__cta {
	  margin-top: desktop(56);
	  gap: desktop(16);
	}
  }
}

.about {
  color: $white;
  
  &__container {
	position: relative;
	
	display: flex;
	flex-direction: column;
	gap: mobile(48);
	padding: mobile(48) mobile(28);
	
	background: $black;
	
	&::after {
	  content: "";
	  display: block;
	  position: absolute;
	  left: 0;
	  bottom: mobile(148);
	  
	  width: mobile(372.87);
	  height: mobile(467.91);
	  
	  background-image: url("data:image/svg+xml,%3Csvg width='373' height='468' viewBox='0 0 373 468' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.3'%3E%3Cpath d='M309.39 363L312.019 373.648C316.416 391.459 330.322 405.365 348.132 409.761L358.78 412.39L348.132 415.019C330.322 419.416 316.416 433.322 312.019 451.132L309.39 461.78L306.761 451.132C302.365 433.322 288.459 419.416 270.648 415.019L260 412.39L270.648 409.761C288.459 405.365 302.365 391.459 306.761 373.648L309.39 363Z' stroke='%23343434' stroke-width='3' stroke-linecap='round' stroke-dasharray='6 12'/%3E%3Cpath d='M93.4966 14.7147L95.5842 6.25857L97.6717 14.7147C103.733 39.2662 122.902 58.4357 147.454 64.4966L155.91 66.5842L147.454 68.6717C122.902 74.7327 103.733 93.9021 97.6717 118.454L95.5842 126.91L93.4966 118.454C87.4357 93.9021 68.2662 74.7327 43.7147 68.6717L35.2586 66.5842L43.7147 64.4966C68.2662 58.4357 87.4357 39.2662 93.4966 14.7147Z' stroke='%23343434' stroke-width='3'/%3E%3Cpath d='M186.436 98L196.358 137.876C212.955 204.572 265.447 256.647 332.677 273.112L372.871 282.956L332.677 292.8C265.447 309.265 212.955 361.34 196.358 428.037L186.436 467.912L176.513 428.036C159.916 361.34 107.424 309.265 40.1945 292.8L0 282.956L40.1946 273.112C107.424 256.647 159.916 204.572 176.513 137.876L186.436 98Z' fill='%23343434'/%3E%3C/g%3E%3C/svg%3E%0A");
	  background-repeat: no-repeat;
	  background-size: contain;
	}
  }
  
  &__block {
	display: flex;
	flex-direction: column;
	gap: mobile(16);
  }
  
  &__caption {
	color: rgba($white, 0.4);
	
	@include r-16-mb;
  }
  
  &__service-list {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: mobile(4);
	
	a {
	  padding: mobile(8) mobile(16);
	}
  }
  
  &__service-item {
	padding: mobile(8) mobile(16);
	background: rgba($white, 0.05);
	border-radius: mobile(16);
	
	@include r-16-mb;
  }
  
  p {
	span {
	  color: $white;
	}
	
	color: $g-20;
  }
}

@media screen and (min-width: $tablet_media) {
  .about {
	&__container {
	  gap: tablet(48);
	  padding: tablet(120) tablet(72);
	  
	  &::after {
		left: unset;
		bottom: unset;
		top: tablet(70);
		right: tablet(84);
		
		width: tablet(372.87);
		height: tablet(467.91);
	  }
	}
	
	&__block {
	  gap: tablet(24);
	  
	  &:first-child {
		max-width: tablet(904);
	  }
	  
	  &:last-child {
		max-width: tablet(1020);
	  }
	}
	
	&__caption {
	  @include r-16-tb;
	}
	
	&__service-list {
	  flex-direction: row;
	  flex-wrap: wrap;
	  gap: tablet(8);
	  
	  a {
		padding: tablet(24);
	  }
	}
	
	&__service-item {
	  padding: tablet(24);
	  border-radius: tablet(16);
	  
	  @include r-20-tb;
	}
	
	p {
	  @include r-30-tb;
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .about {
	&__container {
	  gap: desktop(48);
	  padding: desktop(120) desktop(72);
	  
	  &::after {
		top: desktop(70);
		right: desktop(84);
		
		width: desktop(372.87);
		height: desktop(467.91);
	  }
	}
	
	&__block {
	  gap: desktop(24);
	  
	  &:first-child {
		max-width: desktop(904);
	  }
	  
	  &:last-child {
		max-width: desktop(1020);
	  }
	}
	
	&__caption {
	  @include r-16-dp;
	}
	
	&__service-list {
	  gap: desktop(8);
	  
	  a {
		padding: desktop(24);
	  }
	}
	
	&__service-item {
	  padding: desktop(24);
	  border-radius: desktop(16);
	  
	  @include r-20-dp;
	}
	
	p {
	  @include r-30-dp;
	}
  }
}

.contact-us {
  color: $white;
  
  p:not(.contact-us__sub-header) {
	color: rgba($white, 0.7);
  }
  
  &__container {
	padding: mobile(28);
	padding-bottom: mobile(240);
	
	background: $blue url("/src/assets/img/contact-us__bg.png") no-repeat;
	background-position: right mobile(-35) bottom mobile(-55);
	background-size: 150%;
  }
  
  &__content {
	display: flex;
	flex-direction: column;
	gap: mobile(16);
  }
  
  &__sub-header {
	color: $white;
	
	@include r-20-mb;
  }
  
  &__cta {
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: mobile(20);
	
	margin-top: mobile(36);
	
	.btn {
	  flex-shrink: 0;
	}
	
	p {
	  @include r-16-mb;
	}
  }
}

@media screen and (min-width: $tablet_media) {
  .contact-us {
	&__container {
	  padding: tablet(120) tablet(72);
	  
	  background-position: right bottom;
	  background-size: contain;
	}
	
	&__sizing-container {
	  max-width: tablet(661);
	}
	
	&__content {
	  display: flex;
	  flex-direction: column;
	  gap: tablet(16);
	}
	
	&__sub-header {
	  @include r-30-tb;
	}
	
	&__cta {
	  width: tablet(400);
	  justify-content: start;
	  align-items: center;
	  gap: tablet(32);
	  margin-top: tablet(56);
	  
	  p {
		@include r-20-tb;
	  }
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .contact-us {
	&__container {
	  padding: desktop(120) desktop(72);
	}
	
	&__sizing-container {
	  max-width: desktop(661);
	}
	
	&__content {
	  gap: desktop(16);
	}
	
	&__sub-header {
	  @include r-30-dp;
	}
	
	&__cta {
	  width: desktop(400);
	  gap: desktop(32);
	  margin-top: desktop(56);
	  
	  p {
		@include r-20-dp;
	  }
	}
  }
}

.menu {
  li {
	display: flex;
	align-items: center;
	gap: mobile(7);
	transition: all 300ms;
	
	a {
	  width: 100%;
	}
	
	&:hover {
	  color: $blue;
	}
	
	&:last-child {
	  &::before {
		content: "";
		display: block;
		width: mobile(7);
		height: mobile(7);
		background: $blue;
		border-radius: 50%;
	  }
	}
  }
}

@media screen and (min-width: $tablet_media) {
  .menu {
	li {
	  gap: tablet(7);
	  
	  &:last-child {
		&::before {
		  width: tablet(7);
		  height: tablet(7);
		}
	  }
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .menu {
	li {
	  gap: desktop(7);
	  
	  &:last-child {
		&::before {
		  width: desktop(7);
		  height: desktop(7);
		}
	  }
	}
  }
}

.mobile-menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: 15;
  
  padding-left: mobile(12);
  padding-right: mobile(12);
  padding-top: var(--header-height);
  
  background: $white;
  
  transform: translateX(100%);
  transition: all 300ms;
  
  &__container {
	display: flex;
	flex-direction: column;
	gap: mobile(32);
	
	height: 100%;
	padding: mobile(64) 0 mobile(40);
	
	overflow: auto;
	
  }
  
  ul {
	display: flex;
	flex-direction: column;
	gap: mobile(24);
	
	li {
	  @include seo-heading-3-mb;
	}
  }
  
  .social-media {
	margin-top: auto;
  }
}

@media screen and (min-width: $tablet_media) {
  .mobile-menu {
	display: none;
  }
}

.social-media {
  display: flex;
  gap: mobile(8);
  
  &__item {
	padding: mobile(14);
	
	svg {
	  width: mobile(24);
	  height: mobile(24);
	  
	  path {
		transition: all 300ms;
	  }
	}
	
	&:hover {
	  svg {
		path {
		  fill: $blue;
		}
	  }
	}
  }
}

@media screen and (min-width: $tablet_media) {
  .social-media {
	gap: tablet(24);
	
	&__item {
	  padding: 0;
	  
	  svg {
		width: tablet(24);
		height: tablet(24);
	  }
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .social-media {
	gap: desktop(24);
	
	&__item {
	  svg {
		width: desktop(24);
		height: desktop(24);
	  }
	}
  }
}

.why-us {
  &__container {
  }
  
  &__list {
	display: flex;
	flex-direction: column;
	gap: mobile(12);
  }
  
  &__row {
	display: flex;
	flex-direction: column;
	gap: mobile(12);
	
	& > * {
	  border-radius: mobile(40);
	}
  }
  
  &__img {
	width: 100%;
	height: mobile(160);
	object-fit: cover;
  }
  
  &__card {
	position: relative;
	padding: mobile(28);
	
	h3 {
	  margin-bottom: mobile(8);
	}
	
	h3 + p {
	  opacity: 0.9;
	}
	
	&-header {
	  display: flex;
	  align-items: center;
	  gap: mobile(8);
	  margin-bottom: mobile(24);
	}
	
	&-header-icon, &-header-title {
	  border-radius: mobile(16);
	}
	
	&-header-icon {
	  padding: mobile(12);
	  
	  svg {
		width: mobile(24);
		height: mobile(24);
	  }
	}
	
	&-header-title {
	  padding: mobile(12) mobile(16);
	  
	  @include family-clash-grotesk;
	  @include text-medium;
	  font-size: mobile(14);
	  line-height: mobile(24);
	  letter-spacing: mobile(1);
	  
	  text-transform: uppercase;
	}
	
	&_bg_gray {
	  background-color: $gray;
	  
	  .why-us__card-header > * {
		background-color: $white;
	  }
	}
	
	&_bg_blue, &_bg_purple {
	  &, p {
		color: $white;
	  }
	  
	  .why-us__card-header > * {
		background-color: rgba($white, 0.2);
	  }
	}
	
	&_bg_blue {
	  background-color: $blue;
	}
	
	&_bg_purple {
	  background-color: $purple;
	}
	
	&_decoration_a {
	  background-image: url("data:image/svg+xml,%3Csvg width='256' height='316' viewBox='0 0 256 316' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M95.2572 268.344C105.553 240.298 112 201.286 112 158C112 114.714 105.553 75.702 95.2572 47.6555C90.1036 33.6164 84.0621 22.5355 77.5553 15.0383C71.0396 7.53079 64.4191 4 58 4C51.5809 4 44.9604 7.53079 38.4447 15.0383C31.9379 22.5355 25.8964 33.6164 20.7428 47.6555C10.4472 75.702 4 114.714 4 158C4 201.286 10.4472 240.298 20.7428 268.344C25.8964 282.384 31.9379 293.465 38.4447 300.962C44.9604 308.469 51.5809 312 58 312C64.4191 312 71.0396 308.469 77.5553 300.962C84.0621 293.465 90.1036 282.384 95.2572 268.344ZM58 316C90.0325 316 116 245.261 116 158C116 70.739 90.0325 0 58 0C25.9675 0 0 70.739 0 158C0 245.261 25.9675 316 58 316Z' fill='%23E5DCFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M165.257 268.344C175.553 240.298 182 201.286 182 158C182 114.714 175.553 75.702 165.257 47.6555C160.104 33.6164 154.062 22.5355 147.555 15.0383C141.04 7.53079 134.419 4 128 4C121.581 4 114.96 7.53079 108.445 15.0383C101.938 22.5355 95.8964 33.6164 90.7428 47.6555C80.4472 75.702 74 114.714 74 158C74 201.286 80.4472 240.298 90.7428 268.344C95.8964 282.384 101.938 293.465 108.445 300.962C114.96 308.469 121.581 312 128 312C134.419 312 141.04 308.469 147.555 300.962C154.062 293.465 160.104 282.384 165.257 268.344ZM128 316C160.033 316 186 245.261 186 158C186 70.739 160.033 0 128 0C95.9675 0 70 70.739 70 158C70 245.261 95.9675 316 128 316Z' fill='%23E5DCFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M235.257 268.344C245.553 240.298 252 201.286 252 158C252 114.714 245.553 75.702 235.257 47.6555C230.104 33.6164 224.062 22.5355 217.555 15.0383C211.04 7.53079 204.419 4 198 4C191.581 4 184.96 7.53079 178.445 15.0383C171.938 22.5355 165.896 33.6164 160.743 47.6555C150.447 75.702 144 114.714 144 158C144 201.286 150.447 240.298 160.743 268.344C165.896 282.384 171.938 293.465 178.445 300.962C184.96 308.469 191.581 312 198 312C204.419 312 211.04 308.469 217.555 300.962C224.062 293.465 230.104 282.384 235.257 268.344ZM198 316C230.033 316 256 245.261 256 158C256 70.739 230.033 0 198 0C165.967 0 140 70.739 140 158C140 245.261 165.967 316 198 316Z' fill='%23E5DCFF'/%3E%3C/svg%3E%0A");
	  background-repeat: no-repeat;
	  background-position: right mobile(-43) bottom mobile(-152);
	  background-size: 73%;
	}
	
	&_decoration_b {
	  background-image: url("data:image/svg+xml,%3Csvg width='104' height='115' viewBox='0 0 104 115' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M91.9061 92.0437L92.5168 94.5173C93.5382 98.6547 96.7686 101.885 100.906 102.907L103.38 103.517L100.906 104.128C96.7686 105.149 93.5382 108.38 92.5168 112.517L91.9061 114.991L91.2955 112.517C90.2741 108.38 87.0437 105.149 82.9062 104.128L80.4326 103.517L82.9063 102.907C87.0437 101.885 90.2741 98.6547 91.2955 94.5173L91.9061 92.0437Z' fill='%23EBEBF4'/%3E%3Cpath d='M15.4678 0L16.291 3.33478C17.668 8.91254 22.023 13.2676 27.6008 14.6445L30.9356 15.4678L27.6008 16.291C22.023 17.668 17.668 22.023 16.291 27.6008L15.4678 30.9356L14.6445 27.6008C13.2676 22.023 8.91254 17.668 3.33477 16.291L0 15.4678L3.33478 14.6445C8.91255 13.2676 13.2676 8.91254 14.6445 3.33478L15.4678 0Z' fill='%23EBEBF4'/%3E%3Cpath d='M52.2464 28.1858L54.5514 37.4491C58.4069 52.9429 70.6011 65.0402 86.2188 68.8651L95.5562 71.1519L86.2188 73.4387C70.6011 77.2636 58.4069 89.3609 54.5514 104.855L52.2464 114.118L49.9413 104.855C46.0858 89.3609 33.8916 77.2636 18.2739 73.4387L8.93652 71.1519L18.2739 68.8651C33.8916 65.0402 46.0858 52.9429 49.9413 37.4491L52.2464 28.1858Z' fill='%23EBEBF4'/%3E%3C/svg%3E%0A");
	  background-repeat: no-repeat;
	  background-position: right mobile(19.62) bottom mobile(28);
	  background-size: 27%;
	}
  }
}

@media screen and (min-width: $tablet_media) {
  .why-us {
	&__container {
	}
	
	&__list {
	  gap: tablet(24);
	}
	
	&__row {
	  flex-direction: row;
	  gap: tablet(24);
	  
	  & > * {
		border-radius: tablet(40);
	  }
	  
	  &_order_reversed {
		& > *:first-child {
		  order: 1;
		}
	  }
	}
	
	&__img {
	  width: tablet(440);
	  height: auto;
	}
	
	&__card {
	  padding: tablet(60);
	  
	  h3 {
		margin-bottom: tablet(16);
	  }
	  
	  &-header {
		gap: tablet(8);
		margin-bottom: tablet(32);
	  }
	  
	  &-header-icon, &-header-title {
		border-radius: tablet(16);
	  }
	  
	  &-header-icon {
		padding: tablet(24);
		
		svg {
		  width: tablet(24);
		  height: tablet(24);
		}
	  }
	  
	  &-header-title {
		padding: tablet(26) tablet(24);
		
		font-size: tablet(18);
		line-height: tablet(20);
		letter-spacing: tablet(2);
	  }
	  
	  &_size_extended {
		padding-right: tablet(256);
	  }
	  
	  &_size_half {
		width: 50%;
		padding-right: tablet(160);
	  }
	  
	  &_decoration_a {
		background-image: url("data:image/svg+xml,%3Csvg width='256' height='316' viewBox='0 0 256 316' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M95.2572 268.344C105.553 240.298 112 201.286 112 158C112 114.714 105.553 75.702 95.2572 47.6555C90.1036 33.6164 84.0621 22.5355 77.5553 15.0383C71.0396 7.53079 64.4191 4 58 4C51.5809 4 44.9604 7.53079 38.4447 15.0383C31.9379 22.5355 25.8964 33.6164 20.7428 47.6555C10.4472 75.702 4 114.714 4 158C4 201.286 10.4472 240.298 20.7428 268.344C25.8964 282.384 31.9379 293.465 38.4447 300.962C44.9604 308.469 51.5809 312 58 312C64.4191 312 71.0396 308.469 77.5553 300.962C84.0621 293.465 90.1036 282.384 95.2572 268.344ZM58 316C90.0325 316 116 245.261 116 158C116 70.739 90.0325 0 58 0C25.9675 0 0 70.739 0 158C0 245.261 25.9675 316 58 316Z' fill='%238B63FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M165.257 268.344C175.553 240.298 182 201.286 182 158C182 114.714 175.553 75.702 165.257 47.6555C160.104 33.6164 154.062 22.5355 147.555 15.0383C141.04 7.53079 134.419 4 128 4C121.581 4 114.96 7.53079 108.445 15.0383C101.938 22.5355 95.8964 33.6164 90.7428 47.6555C80.4472 75.702 74 114.714 74 158C74 201.286 80.4472 240.298 90.7428 268.344C95.8964 282.384 101.938 293.465 108.445 300.962C114.96 308.469 121.581 312 128 312C134.419 312 141.04 308.469 147.555 300.962C154.062 293.465 160.104 282.384 165.257 268.344ZM128 316C160.033 316 186 245.261 186 158C186 70.739 160.033 0 128 0C95.9675 0 70 70.739 70 158C70 245.261 95.9675 316 128 316Z' fill='%238B63FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M235.257 268.344C245.553 240.298 252 201.286 252 158C252 114.714 245.553 75.702 235.257 47.6555C230.104 33.6164 224.062 22.5355 217.555 15.0383C211.04 7.53079 204.419 4 198 4C191.581 4 184.96 7.53079 178.445 15.0383C171.938 22.5355 165.896 33.6164 160.743 47.6555C150.447 75.702 144 114.714 144 158C144 201.286 150.447 240.298 160.743 268.344C165.896 282.384 171.938 293.465 178.445 300.962C184.96 308.469 191.581 312 198 312C204.419 312 211.04 308.469 217.555 300.962C224.062 293.465 230.104 282.384 235.257 268.344ZM198 316C230.033 316 256 245.261 256 158C256 70.739 230.033 0 198 0C165.967 0 140 70.739 140 158C140 245.261 165.967 316 198 316Z' fill='%238B63FF'/%3E%3C/svg%3E%0A");
		background-position: right tablet(-52) center;
		background-size: 28.3%;
	  }
	  
	  &_decoration_b {
		background-position: right tablet(24.62) bottom tablet(63.01);
		background-size: 16%;
	  }
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .why-us {
	&__container {
	}
	
	&__list {
	  gap: desktop(24);
	}
	
	&__row {
	  gap: desktop(24);
	  
	  & > * {
		border-radius: desktop(40);
	  }
	}
	
	&__img {
	  width: desktop(440);
	}
	
	&__card {
	  padding: desktop(60);
	  
	  h3 {
		margin-bottom: desktop(16);
	  }
	  
	  &-header {
		gap: desktop(8);
		margin-bottom: desktop(32);
	  }
	  
	  &-header-icon, &-header-title {
		border-radius: desktop(16);
	  }
	  
	  &-header-icon {
		padding: desktop(24);
		
		svg {
		  width: desktop(24);
		  height: desktop(24);
		}
	  }
	  
	  &-header-title {
		padding: desktop(26) desktop(24);
		
		font-size: desktop(18);
		line-height: desktop(20);
		letter-spacing: desktop(2);
	  }
	  
	  &_size_extended {
		padding-right: desktop(256);
	  }
	  
	  &_size_half {
		padding-right: desktop(160);
	  }
	  
	  &_decoration_a {
		background-position: right desktop(-52) center;
	  }
	  
	  &_decoration_b {
		background-position: right desktop(24.62) bottom desktop(63.01);
	  }
	}
  }
}

.our-services {
  &__container {
	
  }
  
  &__list {
	display: flex;
	flex-direction: column;
	gap: mobile(60);
  }
  
  &__row {
	display: flex;
	flex-direction: column;
	gap: mobile(28);
  }
  
  &__card {
	display: flex;
	align-items: start;
	flex-direction: column;
	gap: mobile(12);
  }
  
  &__img {
	position: relative;
	
	img {
	  border-radius: mobile(24);
	}
 
	&_decoration_a {
	  display: flex;
	  
	  img {
		width: mobile(255);
	  }
	  
	  .our-services__img-label {
		top: mobile(-36);
		right: mobile(36);
	  }
	  
	  &::after {
		content: "";
		display: block;
		width: mobile(135);
		border-radius: mobile(24);
	 
		background-color: $blue;
		background-image: url("data:image/svg+xml,%3Csvg width='82' height='233' viewBox='0 0 82 233' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2'%3E%3Ccircle cx='98.9976' cy='170.644' r='97.4253' transform='rotate(-90 98.9976 170.644)' stroke='white' stroke-width='2.29762' stroke-dasharray='2.3 6.89'/%3E%3Ccircle cx='98.9976' cy='58.9404' r='97.4253' transform='rotate(-90 98.9976 58.9404)' stroke='white' stroke-width='2.29762'/%3E%3C/g%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: mobile(306.55) mobile(194.85);
	  }
	}
 
	&_decoration_b {
	  display: flex;
	  
	  $decoration-height: 103;
	  padding-bottom: calc(#{mobile($decoration-height)} / 2);
	
	  img {
		width: mobile(332);
		height: mobile(181);
		margin-left: auto;
	  }
	
	  .our-services__img-label {
		top: mobile(36);
		left: mobile(30);
	  }
	
	  &::after {
		position: absolute;
		z-index: -1;
		left: 0;
		bottom: 0;
		
		content: "";
		display: block;
		width: mobile(196);
		height: mobile($decoration-height);
		border-radius: mobile(24);
	 
		background-image: url("data:image/svg+xml,%3Csvg width='197' height='104' viewBox='0 0 197 104' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1797_727)'%3E%3Crect y='0.742676' width='196.736' height='102.997' rx='23.1454' fill='%238B63FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M145.237 288.903C224.172 288.903 288.16 224.914 288.16 145.98C288.16 67.046 224.172 3.05722 145.237 3.05722C66.3033 3.05722 2.31454 67.046 2.31454 145.98C2.31454 224.914 66.3033 288.903 145.237 288.903ZM145.237 291.217C225.45 291.217 290.475 226.192 290.475 145.98C290.475 65.7677 225.45 0.742676 145.237 0.742676C65.025 0.742676 0 65.7677 0 145.98C0 226.192 65.025 291.217 145.237 291.217Z' fill='%23A282FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M145.51 243.125C199.011 243.125 242.382 199.753 242.382 146.253C242.382 92.7516 199.011 49.3806 145.51 49.3806C92.0095 49.3806 48.6384 92.7516 48.6384 146.253C48.6384 199.753 92.0095 243.125 145.51 243.125ZM145.51 245.439C200.29 245.439 244.697 201.032 244.697 146.253C244.697 91.4734 200.29 47.066 145.51 47.066C90.7312 47.066 46.3239 91.4734 46.3239 146.253C46.3239 201.032 90.7312 245.439 145.51 245.439Z' fill='%23A282FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M145.51 209.336C180.35 209.336 208.593 181.092 208.593 146.253C208.593 111.413 180.35 83.1694 145.51 83.1694C110.67 83.1694 82.4267 111.413 82.4267 146.253C82.4267 181.092 110.67 209.336 145.51 209.336ZM145.51 211.65C181.628 211.65 210.908 182.371 210.908 146.253C210.908 110.134 181.628 80.8548 145.51 80.8548C109.392 80.8548 80.1122 110.134 80.1122 146.253C80.1122 182.371 109.392 211.65 145.51 211.65Z' fill='%23A282FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M145.51 179.362C163.795 179.362 178.619 164.538 178.619 146.252C178.619 127.967 163.795 113.143 145.51 113.143C127.224 113.143 112.4 127.967 112.4 146.252C112.4 164.538 127.224 179.362 145.51 179.362ZM145.51 181.676C165.074 181.676 180.933 165.816 180.933 146.252C180.933 126.688 165.074 110.829 145.51 110.829C125.946 110.829 110.086 126.688 110.086 146.252C110.086 165.816 125.946 181.676 145.51 181.676Z' fill='%23A282FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1797_727'%3E%3Crect y='0.742676' width='196.736' height='102.997' rx='23.1454' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-size: cover;
	  }
	}
 
	&_decoration_c {
	  display: flex;
	
	  $decoration-height: 158;
	  padding-bottom: mobile(30);
	
	  img {
		width: mobile(255);
		height: mobile(201);
	  }
	
	  .our-services__img-label {
		top: mobile(36);
		left: mobile(219);
	  }
	
	  &::after {
		position: absolute;
		z-index: -1;
		right: 0;
		bottom: 0;
	 
		content: "";
		display: block;
		width: mobile(120);
		height: mobile($decoration-height);
		border-radius: mobile(24);
	 
		background-image: url("data:image/svg+xml,%3Csvg width='121' height='160' viewBox='0 0 121 160' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1797_748)'%3E%3Crect x='0.285156' y='0.587891' width='120.714' height='158.438' rx='23.2143' fill='%231752FE'/%3E%3Crect x='-6.09961' y='26.2593' width='18.9287' height='78.6475' rx='9.28571' fill='white' fill-opacity='0.2'/%3E%3Crect x='16.0293' y='17.728' width='18.9287' height='78.6475' rx='9.28571' fill='white' fill-opacity='0.2'/%3E%3Crect x='38.1562' y='6.26416' width='18.9287' height='78.6475' rx='9.28571' fill='white' fill-opacity='0.2'/%3E%3Crect x='60.2852' y='-4.3999' width='18.9287' height='78.6475' rx='9.28571' fill='white' fill-opacity='0.2'/%3E%3Crect x='82.6953' y='-21.4658' width='18.9287' height='78.6475' rx='9.28571' fill='white' fill-opacity='0.2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1797_748'%3E%3Crect width='120.714' height='158.438' fill='white' transform='translate(0.285156 0.587891)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-size: cover;
	  }
	}
 
	&_decoration_d {
	  display: flex;
	
	  $decoration-height: 166;
	  padding-bottom: mobile(23);
	
	  img {
		width: mobile(332);
		height: mobile(209);
		margin-left: auto;
	  }
	
	  .our-services__img-label {
		bottom: 0;
		right: mobile(36);
	  }
	
	  &::after {
		position: absolute;
		z-index: -1;
		left: 0;
		bottom: 0;
	 
		content: "";
		display: block;
		width: mobile(184);
		height: mobile($decoration-height);
		border-radius: mobile(24);
	 
		background-image: url("data:image/svg+xml,%3Csvg width='185' height='168' viewBox='0 0 185 168' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1797_775)'%3E%3Crect y='0.859863' width='184.906' height='166.299' rx='23.2586' fill='%238B63FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M38.6347 246.317C47.1468 223.094 52.4772 190.791 52.4772 154.948C52.4772 119.106 47.1468 86.8026 38.6347 63.5791C34.3739 51.9542 29.3789 42.7788 23.9993 36.5709C18.6123 30.3544 13.1387 27.4308 7.83159 27.4308C2.52447 27.4308 -2.94917 30.3544 -8.33615 36.5709C-13.7158 42.7788 -18.7107 51.9542 -22.9716 63.5791C-31.4836 86.8026 -36.814 119.106 -36.814 154.948C-36.814 190.791 -31.4836 223.094 -22.9716 246.317C-18.7107 257.942 -13.7158 267.118 -8.33615 273.326C-2.94917 279.542 2.52447 282.466 7.83159 282.466C13.1387 282.466 18.6123 279.542 23.9993 273.326C29.3789 267.118 34.3739 257.942 38.6347 246.317ZM7.83159 285.778C34.3151 285.778 55.7843 227.203 55.7843 154.948C55.7843 82.6931 34.3151 24.1187 7.83159 24.1187C-18.6519 24.1187 -40.1211 82.6931 -40.1211 154.948C-40.1211 227.203 -18.6519 285.778 7.83159 285.778Z' fill='%23A282FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M96.5087 246.317C105.021 223.094 110.351 190.791 110.351 154.948C110.351 119.106 105.021 86.8026 96.5087 63.5791C92.2478 51.9542 87.2529 42.7788 81.8733 36.5709C76.4863 30.3544 71.0126 27.4308 65.7055 27.4308C60.3984 27.4308 54.9248 30.3544 49.5378 36.5709C44.1582 42.7788 39.1632 51.9542 34.9024 63.5791C26.3903 86.8026 21.0599 119.106 21.0599 154.948C21.0599 190.791 26.3903 223.094 34.9024 246.317C39.1632 257.942 44.1582 267.118 49.5378 273.326C54.9248 279.542 60.3984 282.466 65.7055 282.466C71.0126 282.466 76.4863 279.542 81.8733 273.326C87.2529 267.118 92.2478 257.942 96.5087 246.317ZM65.7055 285.778C92.189 285.778 113.658 227.203 113.658 154.948C113.658 82.6931 92.189 24.1187 65.7055 24.1187C39.222 24.1187 17.7528 82.6931 17.7528 154.948C17.7528 227.203 39.222 285.778 65.7055 285.778Z' fill='%23A282FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M154.383 246.317C162.895 223.094 168.225 190.791 168.225 154.948C168.225 119.106 162.895 86.8026 154.383 63.5791C150.122 51.9542 145.127 42.7788 139.747 36.5709C134.36 30.3544 128.887 27.4308 123.579 27.4308C118.272 27.4308 112.799 30.3544 107.412 36.5709C102.032 42.7788 97.0372 51.9542 92.7763 63.5791C84.2642 86.8026 78.9338 119.106 78.9338 154.948C78.9338 190.791 84.2642 223.094 92.7763 246.317C97.0372 257.942 102.032 267.118 107.412 273.326C112.799 279.542 118.272 282.466 123.579 282.466C128.887 282.466 134.36 279.542 139.747 273.326C145.127 267.118 150.122 257.942 154.383 246.317ZM123.579 285.778C150.063 285.778 171.532 227.203 171.532 154.948C171.532 82.6931 150.063 24.1187 123.579 24.1187C97.0959 24.1187 75.6268 82.6931 75.6268 154.948C75.6268 227.203 97.0959 285.778 123.579 285.778Z' fill='%23A282FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1797_775'%3E%3Crect y='0.859863' width='184.906' height='166.299' rx='23.2586' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-size: cover;
	  }
	}
	
	&_label-position_a {
	  .our-services__img-label {
		bottom: mobile(-36);
		right: mobile(31);
	  }
	}
 
	&_label-position_b {
	  .our-services__img-label {
		bottom: mobile(-36);
		right: mobile(31);
	  }
	}
 
	&_label-position_c {
	  .our-services__img-label {
		top: mobile(-36);
		right: mobile(36);
	  }
	}
  }
  
  &__img-label {
	position: absolute;
	
	padding: mobile(24);
	border-radius: mobile(16);
	
	background-color: #DAE3FF;
	
	svg {
	  width: mobile(24);
	  height: mobile(24);
	}
  }
  
  &__card-enum {
	color: $g-30;
 
	@include family-clash-grotesk;
	@include text-medium;
	font-size: mobile(18);
	line-height: mobile(20);
	letter-spacing: mobile(2);
  }
}

@media screen and (min-width: $tablet_media) {
  .our-services {
	&__list {
	  gap: tablet(120);
	}
	
	&__row {
	  flex-direction: row;
	  justify-content: space-between;
	  align-items: center;
	  gap: tablet(140);
	  
	  &:nth-child(2n) {
		.our-services__img {
		  order: -1;
		}
	  }
	}
	
	&__card {
	  max-width: tablet(555);
	  gap: tablet(16);
	}
	
	&__img {
	  img {
		border-radius: tablet(40);
	  }
	  
	  &_decoration_a {
		img {
		  width: tablet(440);
		}
		
		.our-services__img-label {
		  top: unset;
		  right: unset;
		  bottom: tablet(-40);
		  left: tablet(40);
		}
		
		&::after {
		  width: tablet(232);
		  border-radius: tablet(40);
		  
		  background-size: tablet(533) tablet(450);
		  background-position: bottom right tablet(-200);
		}
	  }
	  
	  &_decoration_b {
		$decoration-height: 178;
		padding-bottom: calc(#{tablet($decoration-height)} / 2);
		
		img {
		  width: tablet(558);
		  height: tablet(313);
		}
		
		.our-services__img-label {
		  top: tablet(40);
		  left: tablet(-40);
		}
		
		&::after {
		  left: tablet(-116);
		  width: tablet(340);
		  height: tablet($decoration-height);
		  border-radius: tablet(40);
		}
	  }
	  
	  &_decoration_c {
		$decoration-height: 273;
		padding-bottom: tablet(52);
		padding-right: tablet(232);
		
		img {
		  width: tablet(440);
		  height: tablet(348);
		}
		
		.our-services__img-label {
		  top: tablet(40);
		  left: tablet(408);
		}
		
		&::after {
		  width: tablet(208);
		  height: tablet($decoration-height);
		  border-radius: tablet(40);
		}
	  }
	  
	  &_decoration_d {
		$decoration-height: 286;
		padding-bottom: tablet(40);
		padding-left: tablet(115);
		
		img {
		  width: tablet(554);
		  height: tablet(360);
		}
		
		.our-services__img-label {
		  right: tablet(40);
		}
		
		&::after {
		  width: tablet(318);
		  height: tablet($decoration-height);
		  border-radius: tablet(40);
		}
	  }
	  
	  &_label-position_a {
		.our-services__img-label {
		  bottom: unset;
		  right: unset;
		  top: tablet(-40);
		  left: tablet(40);
		}
	  }
	  
	  &_label-position_b {
		.our-services__img-label {
		  top: unset;
		  right: unset;
		  bottom: tablet(-40);
		  left: tablet(40);
		}
	  }
	  
	  &_label-position_c {
		.our-services__img-label {
		  top: tablet(-40);
		  right: tablet(40);
		}
	  }
	}
 
	&__img-label {
	  padding: tablet(24);
	  border-radius: tablet(16);
	
	  svg {
		width: tablet(24);
		height: tablet(24);
	  }
	}
	
	&__card-enum {
	  font-size: tablet(18);
	  line-height: tablet(20);
	  letter-spacing: tablet(2);
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .our-services {
	&__list {
	  gap: desktop(120);
	}
	
	&__row {
	  gap: desktop(140);
	}
	
	&__card {
	  max-width: desktop(555);
	  gap: desktop(16);
	}
	
	&__img {
	  img {
		border-radius: desktop(40);
	  }
	  
	  &_decoration_a {
		img {
		  width: desktop(440);
		}
		
		.our-services__img-label {
		  bottom: desktop(-40);
		  left: desktop(40);
		}
		
		&::after {
		  width: desktop(232);
		  border-radius: desktop(40);
		  
		  background-size: desktop(533) desktop(450);
		  background-position: bottom right desktop(-200);
		}
	  }
	  
	  &_decoration_b {
		$decoration-height: 178;
		padding-bottom: calc(#{desktop($decoration-height)} / 2);
		
		img {
		  width: desktop(558);
		  height: desktop(313);
		}
		
		.our-services__img-label {
		  top: desktop(40);
		  left: desktop(-40);
		}
		
		&::after {
		  left: desktop(-116);
		  width: desktop(340);
		  height: desktop($decoration-height);
		  border-radius: desktop(40);
		}
	  }
	  
	  &_decoration_c {
		$decoration-height: 273;
		padding-bottom: desktop(52);
		padding-right: desktop(232);
		
		img {
		  width: desktop(440);
		  height: desktop(348);
		}
		
		.our-services__img-label {
		  top: desktop(40);
		  left: desktop(408);
		}
		
		&::after {
		  width: desktop(208);
		  height: desktop($decoration-height);
		  border-radius: desktop(40);
		}
	  }
	  
	  &_decoration_d {
		$decoration-height: 286;
		padding-bottom: desktop(40);
		padding-left: desktop(115);
		
		img {
		  width: desktop(554);
		  height: desktop(360);
		}
		
		.our-services__img-label {
		  right: desktop(40);
		}
		
		&::after {
		  width: desktop(318);
		  height: desktop($decoration-height);
		  border-radius: desktop(40);
		}
	  }
	  
	  &_label-position_a {
		.our-services__img-label {
		  top: desktop(-40);
		  left: desktop(40);
		}
	  }
	  
	  &_label-position_b {
		.our-services__img-label {
		  bottom: desktop(-40);
		  left: desktop(40);
		}
	  }
	  
	  &_label-position_c {
		.our-services__img-label {
		  top: desktop(-40);
		  right: desktop(40);
		}
	  }
	}
 
	&__img-label {
	  padding: desktop(24);
	  border-radius: desktop(16);
	
	  svg {
		width: desktop(24);
		height: desktop(24);
	  }
	}
	
	&__card-enum {
	  font-size: desktop(18);
	  line-height: desktop(20);
	  letter-spacing: desktop(2);
	}
  }
}