.hero-screen {
}

@media screen and (min-width: $tablet_media) {

}

@media screen and (min-width: $desktop_media) {

}

.hero {
  margin-bottom: mobile(100);
  
  &__container {
	position: relative;
	
	display: flex;
	flex-direction: column;
	gap: mobile(36);
  }
  
  &__main {
  }
  
  &__side {
	order: -1;
  }
  
  h1 {
	margin-bottom: mobile(12);
  }
  
  &__cta {
	display: flex;
	gap: mobile(16);
	margin-top: mobile(36);
  }
}

@media screen and (min-width: $tablet_media) {
  .hero {
	margin-top: tablet(146);
	margin-bottom: tablet(204);
	
	&__container {
	  flex-direction: row;
	  gap: tablet(36);
	}
	
	&__main {
	  max-width: tablet(825);
	  
	  p {
		max-width: tablet(439);
	  }
	}
	
	&__side {
	  order: unset;
	  
	  img {
		position: absolute;
		z-index: -1;
		top: tablet(-150);
		right: tablet(-45);
		
		width: tablet(815);
	  }
	}
	
	h1 {
	  margin-bottom: tablet(24);
	}
	
	&__cta {
	  margin-top: tablet(56);
	  gap: tablet(16);
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .hero {
	margin-top: desktop(146);
	margin-bottom: desktop(204);
	
	&__container {
	  gap: desktop(36);
	}
	
	h1 {
	  margin-bottom: desktop(24);
	}
	
	&__main {
	  max-width: desktop(825);
	  
	  p {
		max-width: desktop(439);
	  }
	}
	
	&__side {
	  img {
		top: desktop(-150);
		right: desktop(-45);
		
		width: desktop(815);
	  }
	}
	
	&__cta {
	  margin-top: desktop(56);
	  gap: desktop(16);
	}
  }
}

.about {
  color: $white;
  
  &__container {
	position: relative;
	
	display: flex;
	flex-direction: column;
	gap: mobile(48);
	padding: mobile(48) mobile(28);
	
	background: $black;
	
	&::after {
	  content: "";
	  display: block;
	  position: absolute;
	  left: 0;
	  bottom: mobile(148);
	  
	  width: mobile(372.87);
	  height: mobile(467.91);
	  
	  background-image: url("data:image/svg+xml,%3Csvg width='373' height='468' viewBox='0 0 373 468' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.3'%3E%3Cpath d='M309.39 363L312.019 373.648C316.416 391.459 330.322 405.365 348.132 409.761L358.78 412.39L348.132 415.019C330.322 419.416 316.416 433.322 312.019 451.132L309.39 461.78L306.761 451.132C302.365 433.322 288.459 419.416 270.648 415.019L260 412.39L270.648 409.761C288.459 405.365 302.365 391.459 306.761 373.648L309.39 363Z' stroke='%23343434' stroke-width='3' stroke-linecap='round' stroke-dasharray='6 12'/%3E%3Cpath d='M93.4966 14.7147L95.5842 6.25857L97.6717 14.7147C103.733 39.2662 122.902 58.4357 147.454 64.4966L155.91 66.5842L147.454 68.6717C122.902 74.7327 103.733 93.9021 97.6717 118.454L95.5842 126.91L93.4966 118.454C87.4357 93.9021 68.2662 74.7327 43.7147 68.6717L35.2586 66.5842L43.7147 64.4966C68.2662 58.4357 87.4357 39.2662 93.4966 14.7147Z' stroke='%23343434' stroke-width='3'/%3E%3Cpath d='M186.436 98L196.358 137.876C212.955 204.572 265.447 256.647 332.677 273.112L372.871 282.956L332.677 292.8C265.447 309.265 212.955 361.34 196.358 428.037L186.436 467.912L176.513 428.036C159.916 361.34 107.424 309.265 40.1945 292.8L0 282.956L40.1946 273.112C107.424 256.647 159.916 204.572 176.513 137.876L186.436 98Z' fill='%23343434'/%3E%3C/g%3E%3C/svg%3E%0A");
	  background-repeat: no-repeat;
	  background-size: contain;
	}
  }
  
  &__block {
	display: flex;
	flex-direction: column;
	gap: mobile(16);
  }
  
  &__caption {
	color: rgba($white, 0.4);
	
	@include r-16-mb;
  }
  
  &__service-list {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: mobile(4);
	
	a {
	  display: flex;
	  align-items: center;
	  gap: mobile(10);
	  padding: mobile(8) mobile(16);
	  
	  @include r-20-mb;
	  color: $blue;
	  
	  &::after {
		content: "";
		display: block;
		width: mobile(24);
		height: mobile(24);
		
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4301 18.82C14.2401 18.82 14.0501 18.75 13.9001 18.6C13.6101 18.31 13.6101 17.83 13.9001 17.54L19.4401 12L13.9001 6.46C13.6101 6.17 13.6101 5.69 13.9001 5.4C14.1901 5.11 14.6701 5.11 14.9601 5.4L21.0301 11.47C21.3201 11.76 21.3201 12.24 21.0301 12.53L14.9601 18.6C14.8101 18.75 14.6201 18.82 14.4301 18.82Z' fill='%231752FE'/%3E%3Cpath d='M20.33 12.75H3.5C3.09 12.75 2.75 12.41 2.75 12C2.75 11.59 3.09 11.25 3.5 11.25H20.33C20.74 11.25 21.08 11.59 21.08 12C21.08 12.41 20.74 12.75 20.33 12.75Z' fill='%231752FE'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-size: contain;
	  }
	}
  }
  
  &__service-item {
	padding: mobile(8) mobile(16);
	background: rgba($white, 0.05);
	border-radius: mobile(16);
	
	@include r-16-mb;
  }
  
  p {
	span {
	  color: $white;
	}
	
	color: $g-20;
  }
}

@media screen and (min-width: $tablet_media) {
  .about {
	&__container {
	  gap: tablet(48);
	  padding: tablet(120) tablet(72);
	  
	  &::after {
		left: unset;
		bottom: unset;
		top: tablet(70);
		right: tablet(84);
		
		width: tablet(372.87);
		height: tablet(467.91);
	  }
	}
	
	&__block {
	  gap: tablet(24);
	  
	  &:first-child {
		max-width: tablet(904);
	  }
	  
	  &:last-child {
		max-width: tablet(1020);
	  }
	}
	
	&__caption {
	  @include r-16-tb;
	}
	
	&__service-list {
	  flex-direction: row;
	  flex-wrap: wrap;
	  gap: tablet(8);
	  
	  a {
		gap: tablet(10);
		padding: tablet(24);
		
		@include r-20-tb;
		
		&::after {
		  width: tablet(24);
		  height: tablet(24);
		}
	  }
	}
	
	&__service-item {
	  padding: tablet(24);
	  border-radius: tablet(16);
	  
	  @include r-20-tb;
	}
	
	p {
	  @include r-30-tb;
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .about {
	&__container {
	  gap: desktop(48);
	  padding: desktop(120) desktop(72);
	  
	  &::after {
		top: desktop(70);
		right: desktop(84);
		
		width: desktop(372.87);
		height: desktop(467.91);
	  }
	}
	
	&__block {
	  gap: desktop(24);
	  
	  &:first-child {
		max-width: desktop(904);
	  }
	  
	  &:last-child {
		max-width: desktop(1020);
	  }
	}
	
	&__caption {
	  @include r-16-dp;
	}
	
	&__service-list {
	  gap: desktop(8);
	  
	  a {
		gap: desktop(10);
		padding: desktop(24);
		
		@include r-20-dp;
		
		&::after {
		  width: desktop(24);
		  height: desktop(24);
		}
	  }
	}
	
	&__service-item {
	  padding: desktop(24);
	  border-radius: desktop(16);
	  
	  @include r-20-dp;
	}
	
	p {
	  @include r-30-dp;
	}
  }
}

.contact-us {
  color: $white;
  
  p:not(.contact-us__sub-header) {
	color: rgba($white, 0.7);
  }
  
  &__container {
	padding: mobile(28);
	padding-bottom: mobile(240);
	
	background: $blue url("/src/assets/img/contact-us__bg.png") no-repeat;
	background-position: right mobile(-35) bottom mobile(-55);
	background-size: 150%;
  }
  
  &__content {
	display: flex;
	flex-direction: column;
	gap: mobile(16);
  }
  
  &__sub-header {
	color: $white;
	
	@include r-20-mb;
  }
  
  &__cta {
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: mobile(20);
	
	margin-top: mobile(36);
	
	.btn {
	  flex-shrink: 0;
	}
	
	p {
	  @include r-16-mb;
	}
  }
}

@media screen and (min-width: $tablet_media) {
  .contact-us {
	&__container {
	  padding: tablet(120) tablet(72);
	  
	  background-position: right bottom;
	  background-size: contain;
	}
	
	&__sizing-container {
	  max-width: tablet(661);
	}
	
	&__content {
	  display: flex;
	  flex-direction: column;
	  gap: tablet(16);
	}
	
	&__sub-header {
	  @include r-30-tb;
	}
	
	&__cta {
	  width: tablet(400);
	  justify-content: start;
	  align-items: center;
	  gap: tablet(32);
	  margin-top: tablet(56);
	  
	  p {
		@include r-20-tb;
	  }
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .contact-us {
	&__container {
	  padding: desktop(120) desktop(72);
	}
	
	&__sizing-container {
	  max-width: desktop(661);
	}
	
	&__content {
	  gap: desktop(16);
	}
	
	&__sub-header {
	  @include r-30-dp;
	}
	
	&__cta {
	  width: desktop(400);
	  gap: desktop(32);
	  margin-top: desktop(56);
	  
	  p {
		@include r-20-dp;
	  }
	}
  }
}

.menu {
  li {
	display: flex;
	align-items: center;
	gap: mobile(7);
	transition: all 300ms;
	
	a {
	  width: 100%;
	}
	
	&:hover {
	  color: $blue;
	}
	
	&:last-child {
	  &::before {
		content: "";
		display: block;
		width: mobile(7);
		height: mobile(7);
		background: $blue;
		border-radius: 50%;
	  }
	}
  }
}

@media screen and (min-width: $tablet_media) {
  .menu {
	li {
	  gap: tablet(7);
	  
	  &:last-child {
		&::before {
		  width: tablet(7);
		  height: tablet(7);
		}
	  }
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .menu {
	li {
	  gap: desktop(7);
	  
	  &:last-child {
		&::before {
		  width: desktop(7);
		  height: desktop(7);
		}
	  }
	}
  }
}

.mobile-menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  z-index: 15;
  
  padding-left: mobile(12);
  padding-right: mobile(12);
  padding-top: var(--header-height);
  
  background: $white;
  
  transform: translateX(100%);
  transition: all 300ms;
  
  &__container {
	display: flex;
	flex-direction: column;
	gap: mobile(32);
	
	height: 100%;
	padding: mobile(64) 0 mobile(40);
	
	overflow: auto;
	
  }
  
  ul {
	display: flex;
	flex-direction: column;
	gap: mobile(24);
	
	li {
	  @include seo-heading-3-mb;
	}
  }
  
  .social-media {
	margin-top: auto;
  }
}

@media screen and (min-width: $tablet_media) {
  .mobile-menu {
	display: none;
  }
}

.social-media {
  display: flex;
  gap: mobile(8);
  
  &__item {
	padding: mobile(14);
	
	svg {
	  width: mobile(24);
	  height: mobile(24);
	  
	  path {
		transition: all 300ms;
	  }
	}
	
	&:hover {
	  svg {
		path {
		  fill: $blue;
		}
	  }
	}
  }
}

@media screen and (min-width: $tablet_media) {
  .social-media {
	gap: tablet(24);
	
	&__item {
	  padding: 0;
	  
	  svg {
		width: tablet(24);
		height: tablet(24);
	  }
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .social-media {
	gap: desktop(24);
	
	&__item {
	  svg {
		width: desktop(24);
		height: desktop(24);
	  }
	}
  }
}

.why-us {
  &__container {
  }
  
  &__list {
	display: flex;
	flex-direction: column;
	gap: mobile(12);
  }
  
  &__row {
	display: flex;
	flex-direction: column;
	gap: mobile(12);
	
	& > * {
	  border-radius: mobile(40);
	}
  }
  
  &__img {
	width: 100%;
	height: mobile(160);
	object-fit: cover;
  }
  
  &__card {
	position: relative;
	padding: mobile(28);
	
	h3 {
	  margin-bottom: mobile(8);
	}
	
	h3 + p {
	  opacity: 0.9;
	}
	
	&-header {
	  display: flex;
	  align-items: center;
	  gap: mobile(8);
	  margin-bottom: mobile(24);
	}
	
	&-header-icon, &-header-title {
	  border-radius: mobile(16);
	}
	
	&-header-icon {
	  padding: mobile(12);
	  
	  svg {
		width: mobile(24);
		height: mobile(24);
	  }
	}
	
	&-header-title {
	  padding: mobile(12) mobile(16);
	  
	  @include family-clash-grotesk;
	  @include text-medium;
	  font-size: mobile(14);
	  line-height: mobile(24);
	  letter-spacing: mobile(1);
	  
	  text-transform: uppercase;
	}
	
	&_bg_gray {
	  background-color: $gray;
	  
	  .why-us__card-header > * {
		background-color: $white;
	  }
	}
	
	&_bg_blue, &_bg_purple {
	  &, p {
		color: $white;
	  }
	  
	  .why-us__card-header > * {
		background-color: rgba($white, 0.2);
	  }
	}
	
	&_bg_blue {
	  background-color: $blue;
	}
	
	&_bg_purple {
	  background-color: $purple;
	}
	
	&_decoration_a {
	  background-image: url("data:image/svg+xml,%3Csvg width='256' height='316' viewBox='0 0 256 316' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M95.2572 268.344C105.553 240.298 112 201.286 112 158C112 114.714 105.553 75.702 95.2572 47.6555C90.1036 33.6164 84.0621 22.5355 77.5553 15.0383C71.0396 7.53079 64.4191 4 58 4C51.5809 4 44.9604 7.53079 38.4447 15.0383C31.9379 22.5355 25.8964 33.6164 20.7428 47.6555C10.4472 75.702 4 114.714 4 158C4 201.286 10.4472 240.298 20.7428 268.344C25.8964 282.384 31.9379 293.465 38.4447 300.962C44.9604 308.469 51.5809 312 58 312C64.4191 312 71.0396 308.469 77.5553 300.962C84.0621 293.465 90.1036 282.384 95.2572 268.344ZM58 316C90.0325 316 116 245.261 116 158C116 70.739 90.0325 0 58 0C25.9675 0 0 70.739 0 158C0 245.261 25.9675 316 58 316Z' fill='%23E5DCFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M165.257 268.344C175.553 240.298 182 201.286 182 158C182 114.714 175.553 75.702 165.257 47.6555C160.104 33.6164 154.062 22.5355 147.555 15.0383C141.04 7.53079 134.419 4 128 4C121.581 4 114.96 7.53079 108.445 15.0383C101.938 22.5355 95.8964 33.6164 90.7428 47.6555C80.4472 75.702 74 114.714 74 158C74 201.286 80.4472 240.298 90.7428 268.344C95.8964 282.384 101.938 293.465 108.445 300.962C114.96 308.469 121.581 312 128 312C134.419 312 141.04 308.469 147.555 300.962C154.062 293.465 160.104 282.384 165.257 268.344ZM128 316C160.033 316 186 245.261 186 158C186 70.739 160.033 0 128 0C95.9675 0 70 70.739 70 158C70 245.261 95.9675 316 128 316Z' fill='%23E5DCFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M235.257 268.344C245.553 240.298 252 201.286 252 158C252 114.714 245.553 75.702 235.257 47.6555C230.104 33.6164 224.062 22.5355 217.555 15.0383C211.04 7.53079 204.419 4 198 4C191.581 4 184.96 7.53079 178.445 15.0383C171.938 22.5355 165.896 33.6164 160.743 47.6555C150.447 75.702 144 114.714 144 158C144 201.286 150.447 240.298 160.743 268.344C165.896 282.384 171.938 293.465 178.445 300.962C184.96 308.469 191.581 312 198 312C204.419 312 211.04 308.469 217.555 300.962C224.062 293.465 230.104 282.384 235.257 268.344ZM198 316C230.033 316 256 245.261 256 158C256 70.739 230.033 0 198 0C165.967 0 140 70.739 140 158C140 245.261 165.967 316 198 316Z' fill='%23E5DCFF'/%3E%3C/svg%3E%0A");
	  background-repeat: no-repeat;
	  background-position: right mobile(-43) bottom mobile(-152);
	  background-size: 73%;
	}
	
	&_decoration_b {
	  background-image: url("data:image/svg+xml,%3Csvg width='104' height='115' viewBox='0 0 104 115' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M91.9061 92.0437L92.5168 94.5173C93.5382 98.6547 96.7686 101.885 100.906 102.907L103.38 103.517L100.906 104.128C96.7686 105.149 93.5382 108.38 92.5168 112.517L91.9061 114.991L91.2955 112.517C90.2741 108.38 87.0437 105.149 82.9062 104.128L80.4326 103.517L82.9063 102.907C87.0437 101.885 90.2741 98.6547 91.2955 94.5173L91.9061 92.0437Z' fill='%23EBEBF4'/%3E%3Cpath d='M15.4678 0L16.291 3.33478C17.668 8.91254 22.023 13.2676 27.6008 14.6445L30.9356 15.4678L27.6008 16.291C22.023 17.668 17.668 22.023 16.291 27.6008L15.4678 30.9356L14.6445 27.6008C13.2676 22.023 8.91254 17.668 3.33477 16.291L0 15.4678L3.33478 14.6445C8.91255 13.2676 13.2676 8.91254 14.6445 3.33478L15.4678 0Z' fill='%23EBEBF4'/%3E%3Cpath d='M52.2464 28.1858L54.5514 37.4491C58.4069 52.9429 70.6011 65.0402 86.2188 68.8651L95.5562 71.1519L86.2188 73.4387C70.6011 77.2636 58.4069 89.3609 54.5514 104.855L52.2464 114.118L49.9413 104.855C46.0858 89.3609 33.8916 77.2636 18.2739 73.4387L8.93652 71.1519L18.2739 68.8651C33.8916 65.0402 46.0858 52.9429 49.9413 37.4491L52.2464 28.1858Z' fill='%23EBEBF4'/%3E%3C/svg%3E%0A");
	  background-repeat: no-repeat;
	  background-position: right mobile(19.62) bottom mobile(28);
	  background-size: 27%;
	}
  }
}

@media screen and (min-width: $tablet_media) {
  .why-us {
	&__container {
	}
	
	&__list {
	  gap: tablet(24);
	}
	
	&__row {
	  flex-direction: row;
	  gap: tablet(24);
	  
	  & > * {
		border-radius: tablet(40);
	  }
	  
	  &_order_reversed {
		& > *:first-child {
		  order: 1;
		}
	  }
	}
	
	&__img {
	  width: tablet(440);
	  height: auto;
	}
	
	&__card {
	  padding: tablet(60);
	  
	  h3 {
		margin-bottom: tablet(16);
	  }
	  
	  &-header {
		gap: tablet(8);
		margin-bottom: tablet(32);
	  }
	  
	  &-header-icon, &-header-title {
		border-radius: tablet(16);
	  }
	  
	  &-header-icon {
		padding: tablet(24);
		
		svg {
		  width: tablet(24);
		  height: tablet(24);
		}
	  }
	  
	  &-header-title {
		padding: tablet(26) tablet(24);
		
		font-size: tablet(18);
		line-height: tablet(20);
		letter-spacing: tablet(2);
	  }
	  
	  &_size_extended {
		padding-right: tablet(256);
	  }
	  
	  &_size_half {
		width: 50%;
		padding-right: tablet(160);
	  }
	  
	  &_decoration_a {
		background-image: url("data:image/svg+xml,%3Csvg width='256' height='316' viewBox='0 0 256 316' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M95.2572 268.344C105.553 240.298 112 201.286 112 158C112 114.714 105.553 75.702 95.2572 47.6555C90.1036 33.6164 84.0621 22.5355 77.5553 15.0383C71.0396 7.53079 64.4191 4 58 4C51.5809 4 44.9604 7.53079 38.4447 15.0383C31.9379 22.5355 25.8964 33.6164 20.7428 47.6555C10.4472 75.702 4 114.714 4 158C4 201.286 10.4472 240.298 20.7428 268.344C25.8964 282.384 31.9379 293.465 38.4447 300.962C44.9604 308.469 51.5809 312 58 312C64.4191 312 71.0396 308.469 77.5553 300.962C84.0621 293.465 90.1036 282.384 95.2572 268.344ZM58 316C90.0325 316 116 245.261 116 158C116 70.739 90.0325 0 58 0C25.9675 0 0 70.739 0 158C0 245.261 25.9675 316 58 316Z' fill='%238B63FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M165.257 268.344C175.553 240.298 182 201.286 182 158C182 114.714 175.553 75.702 165.257 47.6555C160.104 33.6164 154.062 22.5355 147.555 15.0383C141.04 7.53079 134.419 4 128 4C121.581 4 114.96 7.53079 108.445 15.0383C101.938 22.5355 95.8964 33.6164 90.7428 47.6555C80.4472 75.702 74 114.714 74 158C74 201.286 80.4472 240.298 90.7428 268.344C95.8964 282.384 101.938 293.465 108.445 300.962C114.96 308.469 121.581 312 128 312C134.419 312 141.04 308.469 147.555 300.962C154.062 293.465 160.104 282.384 165.257 268.344ZM128 316C160.033 316 186 245.261 186 158C186 70.739 160.033 0 128 0C95.9675 0 70 70.739 70 158C70 245.261 95.9675 316 128 316Z' fill='%238B63FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M235.257 268.344C245.553 240.298 252 201.286 252 158C252 114.714 245.553 75.702 235.257 47.6555C230.104 33.6164 224.062 22.5355 217.555 15.0383C211.04 7.53079 204.419 4 198 4C191.581 4 184.96 7.53079 178.445 15.0383C171.938 22.5355 165.896 33.6164 160.743 47.6555C150.447 75.702 144 114.714 144 158C144 201.286 150.447 240.298 160.743 268.344C165.896 282.384 171.938 293.465 178.445 300.962C184.96 308.469 191.581 312 198 312C204.419 312 211.04 308.469 217.555 300.962C224.062 293.465 230.104 282.384 235.257 268.344ZM198 316C230.033 316 256 245.261 256 158C256 70.739 230.033 0 198 0C165.967 0 140 70.739 140 158C140 245.261 165.967 316 198 316Z' fill='%238B63FF'/%3E%3C/svg%3E%0A");
		background-position: right tablet(-52) center;
		background-size: 28.3%;
	  }
	  
	  &_decoration_b {
		background-position: right tablet(24.62) bottom tablet(63.01);
		background-size: 16%;
	  }
	}
  }
}

@media screen and (min-width: $desktop_media) {
  .why-us {
	&__container {
	}
	
	&__list {
	  gap: desktop(24);
	}
	
	&__row {
	  gap: desktop(24);
	  
	  & > * {
		border-radius: desktop(40);
	  }
	}
	
	&__img {
	  width: desktop(440);
	}
	
	&__card {
	  padding: desktop(60);
	  
	  h3 {
		margin-bottom: desktop(16);
	  }
	  
	  &-header {
		gap: desktop(8);
		margin-bottom: desktop(32);
	  }
	  
	  &-header-icon, &-header-title {
		border-radius: desktop(16);
	  }
	  
	  &-header-icon {
		padding: desktop(24);
		
		svg {
		  width: desktop(24);
		  height: desktop(24);
		}
	  }
	  
	  &-header-title {
		padding: desktop(26) desktop(24);
		
		font-size: desktop(18);
		line-height: desktop(20);
		letter-spacing: desktop(2);
	  }
	  
	  &_size_extended {
		padding-right: desktop(256);
	  }
	  
	  &_size_half {
		padding-right: desktop(160);
	  }
	  
	  &_decoration_a {
		background-position: right desktop(-52) center;
	  }
	  
	  &_decoration_b {
		background-position: right desktop(24.62) bottom desktop(63.01);
	  }
	}
  }
}