@mixin font-setting {
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
}

@mixin text-light {
  @include font-setting;
  font-weight: 300;
}

@mixin text-regular {
  @include font-setting;
  font-weight: 400;
}

@mixin text-medium {
  @include font-setting;
  font-weight: 500;
}

@mixin text-semi-bold {
  @include font-setting;
  font-weight: 600;
}

@mixin text-bold {
  @include font-setting;
  font-weight: 700;
}

// Seo Headings
@mixin seo-heading {
  font-family: Iskry, "san-serif", "serif";
}

@mixin seo-heading-1-mb {
  @include seo-heading;
  @include text-regular;
  font-size: mobile(38);
  line-height: mobile(41.8);
  letter-spacing: mobile(-0.76);
}

@mixin seo-heading-1-tb {
  @include text-regular;
  @include seo-heading;
  font-size: tablet(76);
  line-height: tablet(82);
  letter-spacing: normal;
}

@mixin seo-heading-1-dp {
  @include text-regular;
  @include seo-heading;
  font-size: desktop(76);
  line-height: desktop(82);
  letter-spacing: normal;
}

@mixin seo-heading-2-mb {
  @include text-regular;
  @include seo-heading;
  font-size: mobile(32);
  line-height: mobile(35.2);
  letter-spacing: -2%;
}

@mixin seo-heading-2-tb {
  @include text-regular;
  @include seo-heading;
  font-size: tablet(48);
  line-height: tablet(62);
  letter-spacing: normal;
}

@mixin seo-heading-2-dp {
  @include text-regular;
  @include seo-heading;
  font-size: desktop(48);
  line-height: desktop(62);
  letter-spacing: normal;
}

@mixin seo-heading-3-mb {
  @include text-regular;
  @include seo-heading;
  font-size: mobile(26);
  line-height: mobile(28.6);
  letter-spacing: -2%;
}

@mixin seo-heading-3-tb {
  @include text-regular;
  @include seo-heading;
  font-size: tablet(36);
  line-height: tablet(48);
  letter-spacing: normal;
}

@mixin seo-heading-3-dp {
  @include text-regular;
  @include seo-heading;
  font-size: desktop(36);
  line-height: desktop(48);
  letter-spacing: normal;
}