@mixin font-setting {
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
}

@mixin text-regular {
  font-weight: 400;
}

@mixin text-semi-bold {
  font-weight: 600;
}

// Seo Headings

// h1
@mixin seo-heading-1-mb {
  font-size: mobile(48);
  line-height: mobile(52);
}

@mixin seo-heading-1-tb {
  font-size: tablet(112);
  line-height: tablet(100);
}

@mixin seo-heading-1-dp {
  font-size: desktop(112);
  line-height: desktop(100);
}

// h2
@mixin seo-heading-2-mb {
  font-size: mobile(36);
  line-height: mobile(40);
}

@mixin seo-heading-2-tb {
  font-size: tablet(52);
  line-height: tablet(56);
}

@mixin seo-heading-2-dp {
  font-size: desktop(52);
  line-height: desktop(56);
}

// h3
@mixin seo-heading-3-mb {
  font-size: mobile(28);
  line-height: mobile(32);
}

@mixin seo-heading-3-tb {
  font-size: tablet(36);
  line-height: tablet(44);
  letter-spacing: tablet(0.32);
}

@mixin seo-heading-3-dp {
  font-size: desktop(36);
  line-height: desktop(44);
  letter-spacing: desktop(0.32);
}

//
@mixin r-18-mb {
  font-size: mobile(18);
  line-height: mobile(20);
}

@mixin r-18-tb {
  font-size: tablet(18);
  line-height: tablet(20);
}

@mixin r-18-dp {
  font-size: desktop(18);
  line-height: desktop(20);
}

//
@mixin r-20-mb {
  font-size: mobile(20);
  line-height: mobile(28);
}

@mixin r-20-tb {
  font-size: tablet(20);
  line-height: tablet(28);
}

@mixin r-20-dp {
  font-size: desktop(20);
  line-height: desktop(28);
}

//
@mixin b-16-mb {
  @include text-semi-bold;
  font-size: mobile(16);
  line-height: mobile(24);
}

@mixin b-16-tb {
  @include text-semi-bold;
  font-size: tablet(16);
  line-height: tablet(24);
}

@mixin b-16-dp {
  @include text-semi-bold;
  font-size: desktop(16);
  line-height: desktop(24);
}

//
@mixin b-18-mb {
  @include text-semi-bold;
  font-size: mobile(18);
  line-height: mobile(28);
  letter-spacing: mobile(0.20);
}

@mixin b-18-tb {
  @include text-semi-bold;
  font-size: tablet(18);
  line-height: tablet(28);
  letter-spacing: tablet(0.20);
}

@mixin b-18-dp {
  @include text-semi-bold;
  font-size: desktop(18);
  line-height: desktop(28);
  letter-spacing: desktop(0.20);
}